@page "/welcome"

<PageTitle>Welcome</PageTitle>

<MudPaper Class="d-flex align-content-center flex-grow-1 gap-4" Elevation="0">
        <MudPaper Class="mud-theme-primary" Width="128px" Height="64px"/>
    <MudPaper Class="mud-theme-primary" Width="128px" Height="64px"/>
    <MudPaper Class="mud-theme-primary" Width="128px" Height="64px"/>
    <MudPaper Class="mud-theme-primary" Width="128px" Height="64px"/>
    <MudPaper Class="mud-theme-primary" Width="128px" Height="64px"/>
    <h1>We're OxC.A.N.</h1>

    <p>
    The Oxford Community Action Network is a growing number of citizens who want a public-private partnership that makes Oxford all it claims to be: Historic, Walkable, Friendly- <b>for all of Oxford</b>. We need <b>you</b>> in order for all of us to be successful- we are looking for folks who see the bright future of our town, and who can give time and talent to make sure that Oxford becomes walkable. That means connecting our neighborhoods and greenspaces to our downtown, and creating walkable destinations in Oxford.

    If you think that you can help, we’d love to hear from you.
    </p>

    <MudButton Href="~/contact"
            Target="_blank"
            Variant="Variant.Filled"
            StartIcon="@Icons.Filled.ChatBubble"
            Color="Color.Primary">
        Let's Talk
    </MudButton>

</MudPaper>